
//
// @project     BuildKit
// @file        Libraries.xcconfig
// @copyright   (c) 2009 Semantap
//

OBJC_LIBRARY			= -ObjC
OBJC_ALLLOAD			= -all_load

// stdlib / libSystem

STDLIB_HEADERS			= /usr/include
STDLIB_LIBRARY			= /usr/lib

// ObjC Runtime

OBJC_LIB				= -lobjc

// Lib Z compression

LIBZ_LIB				= -lz

// LibXML2

LIBXML2_HEADERS			= /usr/include/libxml2
LIBXML2_LIBRARY			= /usr/lib
LIBXML2_LIB				= -lxml2

// Frameworks

AVFOUNDATION_FX			= -framework AVFoundation
ADDRESSBOOK_FX			= -framework AddressBook
ADDRESSBOOKUI_FX		= -framework AddressBookUI
CFNETWORK_FX			= -framework CFNetwork
COREDATA_FX				= -framework CoreData
COREFOUNDATION_FX		= -framework CoreFoundation
COREGRAPHICS_FX			= -framework CoreGraphics
CORELOCATION_FX			= -framework CoreLocation
FOUNDATION_FX			= -framework Foundation
GAMEKIT_FX				= -framework GameKit
MAPKIT_FX				= -framework MapKit
MEDIAPLAYER_FX			= -framework MediaPlayer
MESSAGEUI_FX			= -framework MessageUI
MOBILECORESERVICES_FX	= -framework MobileCoreServices
OPENGLES_FX				= -framework OpenGLES
QUARTZCORE_FX			= -framework QuartzCore
SECURITY_FX				= -framework Security
STOREKIT_FX				= -framework StoreKit
SYSTEMCONFIGURATION_FX	= -framework SystemConfiguration
UIKIT_FX				= -framework UIKit

// Unit Test

SENTESTINGKIT_FX		= -framework SenTestingKit

//
// Libraries
//

// StorageKit

STORAGEKIT_HEADER_PATH			= $(BUILD_PLATFORM_NAME_PATH)/StorageKit/Headers/
STORAGEKIT_LIBRARY_PATH			= $(BUILD_PLATFORM_NAME_PATH)/StorageKit/
STORAGEKIT_LIBRARY_FLAG			= -lStorageKit

// ControllerKit

CONTROLLERKIT_HEADER_PATH		= $(BUILD_PLATFORM_NAME_PATH)/ControllerKit/Headers/
CONTROLLERKIT_LIBRARY_PATH		= $(BUILD_PLATFORM_NAME_PATH)/ControllerKit/
CONTROLLERKIT_LIBRARY_FLAG		= -lControllerKit

// TableKit

TABLEKIT_HEADER_PATH			= $(BUILD_PLATFORM_NAME_PATH)/TableKit/Headers/
TABLEKIT_LIBRARY_PATH			= $(BUILD_PLATFORM_NAME_PATH)/TableKit/
TABLEKIT_LIBRARY_FLAG			= -lTableKit

// UXKit

UXKIT_HEADER_PATH				= $(BUILD_PLATFORM_NAME_PATH)/UXKit/Headers/
UXKIT_LIBRARY_PATH				= $(BUILD_PLATFORM_NAME_PATH)/UXKit/
UXKIT_LIBRARY_FLAG				= -lUXKit
UXKIT_RESOURCE_BUNDLE_NAME		= UXKit.bundle


//
// Vendor Libraries
//

// JSONKit

JSONKIT_HEADER_PATH				= $(BUILD_PLATFORM_NAME_PATH)/JSONKit/Headers/
JSONKIT_LIBRARY_PATH			= $(BUILD_PLATFORM_NAME_PATH)/JSONKit/
JSONKIT_LIBRARY_FLAG			= -lJSONKit

// XMLKit

XMLKIT_HEADER_PATH				= $(BUILD_PLATFORM_NAME_PATH)/XMLKit/Headers/
XMLKIT_LIBRARY_PATH				= $(BUILD_PLATFORM_NAME_PATH)/XMLKit/
XMLKIT_LIBRARY_FLAG				= -lXMLKit
