
//
// UXWebService/Configurations/Application.xcconfig
//

#include "../../../Configurations/Application.xcconfig"
#include "../../../Configurations/Libraries.xcconfig"

// Product Name

PRODUCT_NAME				= WebService

// Application Info.plist

INFOPLIST_FILE				= $(APPLICATIONDELEGATE_INFOPLIST_PATH)/UXWebService.plist

// Application Version

BUILD_APPLICATION_VERSION	= 1.0
CURRENT_PROJECT_VERSION		= $(BUILD_APPLICATION_VERSION)

// Precompiled Header

GCC_PREFIX_HEADER			= $(PROJECT_TREE_PROJECT_PATH)/UXWebService.pch

// Linker Flags

OTHER_LDFLAGS				= $(OBJC_LIBRARY) $(OBJC_ALLLOAD) $(LIBXML2_LIB) $(XMLKIT_LIBRARY_FLAG) $(JSONKIT_LIBRARY_FLAG) $(UXKIT_LIBRARY_FLAG)

// Search Paths

HEADER_SEARCH_PATHS			= $(STDLIB_HEADERS) $(LIBXML2_HEADERS) $(XMLKIT_HEADER_PATH)  $(JSONKIT_HEADER_PATH)  $(UXKIT_HEADER_PATH)
LIBRARY_SEARCH_PATHS		= $(STDLIB_LIBRARY) $(LIBXML2_LIBRARY) $(XMLKIT_LIBRARY_PATH) $(JSONKIT_LIBRARY_PATH) $(UXKIT_LIBRARY_PATH)

// Run Clang

RUN_CLANG_STATIC_ANALYZER	= YES
